.gradle
.idea
.svn

/app/src/androidTest
/app/src/test
/app/build.gradle.bak
/app/proguard-rules.pro
/app/build

/build

/library/.project
/library/src/test
/library/build
/library/.classpath
/library/pom.xml



gradlew
gradlew.bat
*.iml
