<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.haidehui">

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!--  sharedSdk所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- ShareSDK3.1.0版本之前才需要在MobUIShell下面注册此意图，3.1.0版本之后（包含3.1.0）不需要注册此intent-->
            <!--<intent-filter>-->
                <!--<data android:scheme="tencent100371282"/>-->
                <!--<action android:name="android.intent.action.VIEW"/>-->

                <!--<category android:name="android.intent.category.BROWSABLE"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--</intent-filter>-->

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <!--<intent-filter>-->
                <!--<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--</intent-filter>-->

            <!--集成line客户端登录授权，需要添如下格式的过滤器-->
            <intent-filter>
                <data android:scheme="line.1477692153"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!--（3.1.0版本之后（包含3.1.0）才需要注册此Activity）如果集成QQ分享，或者使用QQ客户端来进行QQ空间的分享，-->
        <!--须要在此处添加一个回调activity， 对ACTION_VIEW事件的过滤器，其中的scheme是“tencent”前缀再开发者应用-->
        <!--的加上appId。如果此Activity和过滤器不设置，则分享结束以后不能得到正确的回调。-->
        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100371282" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SignActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.FindPasswordActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.MessageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MessageInfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.MessageNoticeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.MessageOtherActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SettingChangePhoneFirstActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SettingChangePhoneSecondActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SettingChangePhoneThirdActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SettingChangePasswordActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.VersionActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.AdviceActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.WebForShareActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.WebForPdfActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.RecommendActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.RecommendRuleActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.RecommendRecordActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.MyBankActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.AddBankActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.WithdrawActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.WithdrawConfirmActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.GestureEditActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.GestureVerifyActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.HotHouseListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.OverseaProjectListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.OverseaProjectDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.HouseDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.MyInfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.MyInfoForNameActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.MyInfoForWorkUnitActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.MyInfoForIntroduceMyselfActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.CustomerInfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SubmitCustomerInfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.CustomerDetailsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.PartnerIdentifyActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.AccountBookActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.CommissionDetailsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.AwardDetailsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.WithDrawDetailsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.RenGouStatusActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.ExplainOrderListActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.MyBusinessPartnerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.AddCustomerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/custom_date_picker_dialog"/>

        <activity
            android:name=".activity.CustomerFollowDetailsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.RengouDetailsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.AddCustomerFollowActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.CustomerTrackingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.EditCustomerInfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".photo_preview.PhotoPreviewAc"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".photo_preview.PhotoPreviewAcForOne"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.RecommendDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.EditExplainOrderInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/custom_date_picker_dialog"/>

        <service android:name=".service.AppUpgradeService"/>

        <!-- 通过AndroidManifest配置AppKey和AppSecret，如果你选择通过代码配置，则不需要配置以下meta-data -->
        <!--<meta-data-->
            <!--android:name="Mob-AppKey"-->
            <!--android:value="1ea86a798f5d6"/>-->
        <!--<meta-data-->
            <!--android:name="Mob-AppSecret"-->
            <!--android:value="69d1ab82675b878c6061887a6ab49279"/>-->

    </application>

</manifest>