<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.haidehui"
          android:versionCode="1"
          android:versionName="1">

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!--  sharedsdk所需权限 -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>l
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme">
        <activity android:name=".act.SplashActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--集成line客户端登录授权，需要添如下格式的过滤器-->
            <intent-filter>
                <data android:scheme="line.1477692153" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".act.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.SignActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.FindPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.MessageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.MessageInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.MessageNoticeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.MessageOtherActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.SettingChangePhoneFirstActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.SettingChangePhoneSecondActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.SettingChangePhoneThirdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.SettingChangePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.VersionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.AdviceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.WebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.RecommendActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.RecommendRuleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.RecommendRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.MyBankActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.AddBankActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.WithdrawActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.WithdrawConfirmActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.GestureEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.GestureVerifyActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".act.HotHouseListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.OverseaProjectListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.OverseaProjectDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".act.HouseDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".act.MyInfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".act.MyInfoForNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.CustomerInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.SubmitCustomerInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.CustomerDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity            android:name=".act.PartnerIdentifyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.AccountBookActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.CommissionDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.AwardDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.WithDrawDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.RenGouStatusActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.CustomerFollowDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.RengouDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.AddCustomerFollowActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.CustomerTrackingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".act.EditCustomerInfoActivity"
            android:screenOrientation="portrait"/>




        <activity android:name=".photo_preview.PhotoPreviewAc"
                  android:screenOrientation="portrait"/>
        <activity android:name=".photo_preview.PhotoPreviewAcForOne"
            android:screenOrientation="portrait"/>



        <!-- 通过AndroidManifest配置AppKey和AppSecret，如果你选择通过代码配置，则不需要配置以下meta-data -->
        <meta-data android:name="Mob-AppKey" android:value="1ea86a798f5d6"/>
        <meta-data android:name="Mob-AppSecret" android:value="69d1ab82675b878c6061887a6ab49279"/>

    </application>

</manifest>